name: Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  create:
    tags:
     - '*'

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        config:
          - { name: Import, project: ImportChecker }
          - { name: Export, project: ExportChecker }

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Publish
      run: dotnet publish -c Release -r win-x64
      working-directory: ./${{ matrix.config.project }}/

    - name: Move release executable to root
      shell: bash
      run: mv ${{ matrix.config.project }}/bin/Release/net9.0/win-x64/publish/${{ matrix.config.project }}.exe .

    - name: Upload executable artifact
      uses: actions/upload-artifact@v5
      with:
        name: ${{ matrix.config.project }}
        path: ${{ matrix.config.project }}.exe

    - name: Upload Release Changelog (once)
      if: ${{ matrix.config.name == 'Import' }}
      uses: actions/upload-artifact@v5
      with:
        name: ReleaseChangelog
        path: ReleaseChangelog.md

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        path: ./

    - name: List all files
      run: ls -R

    - name: Publish a release
      uses: softprops/action-gh-release@v2
      with:
        body_path: ./ReleaseChangelog/ReleaseChangelog.md
        files: |
          ./*/*.exe
